*.snap
.flatpak-builder
# Qt build output
*.user
# CMake preset build trees and machine-local presets
/build/
CMakeUserPresets.json
# doxygen Doxyfile output
doc/*
!doc/QElectroTech.qch
QElectroTech.tag
!doc/doc-utils